# Drizzle
DATABASE_URL=local.db

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5173/auth/google/callback
GOOGLE_ALLOWED_EMAILS=you@example.com,other@example.com
